<div class="password-change-dialog">
  <h2>Change Password</h2>
  <mat-form-field appearance="outline">
    <input matInput type="password" [(ngModel)]="oldPassword" placeholder="Old Password">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <input matInput type="password" [(ngModel)]="newPassword" placeholder="New Password">
  </mat-form-field>
  <div class="password-change-actions">
    <button mat-button color="primary" (click)="changePassword()">Change</button>
    <button mat-button color="warn" (click)="cancelChange()">Cancel</button>
  </div>
</div>
