<div>
  <!-- User Start -->
  <div class="flex flex-wrap">
    <div class="flex space-x-3 bg-blue-700 rounded-md px-5 py-3 w-full sm:w-1/2">
      <div class="w-16 h-16 rounded-full overflow-hidden shadow-md">
        <img src="assets/images/teams/team-1.jpg" alt="" class="w-full h-full object-cover">
      </div>
      <div class="text-white">
        <h5>{{ userInfo?.username }}</h5>
        <p class="leading-normal text-white">
          <span class="font-medium">Email</span>: {{ userInfo?.email }}</p>
      </div>
    </div>
    <div class="w-full sm:w-1/2 sm:pl-5 mt-5 mmd:t-0">
      <p>
        <strong>Member Since</strong>: {{ userInfo?.memberSince }}</p>
      <p class="mt-1">
        <strong>Organization</strong>: {{ userInfo?.organization }}</p>
    </div>
  </div>
  <!-- User End -->
  <!-- User Meta Start -->
  <div class="border bg-white mt-8 rounded-md">
    <div class="flex p-4 bg-gray-200">
      <h6 class="text-normal">Primary Information</h6>
      <button class="text-blue-400 hover:text-accent ml-auto flex items-center" (click)="openPasswordChangeDialog()">
        <mat-icon class="_edit_icon mr-2">edit</mat-icon>
        edit info
      </button>

      <button class="text-blue-400 hover:text-accent ml-auto flex items-center" (click)="openPasswordChangeDialog()">
        <mat-icon class="_edit_icon mr-2">edit</mat-icon>
       Change Password</button>
    </div>
    <div class="flex flex-wrap p-4">
      <div class="w-full sm:w-1/2">
        <div class="ll-dataset">
          <div class="ll-dataset__label">
            Email:
          </div>
          <div class="ll-dataset__value">{{ userInfo?.email }}</div>
        </div>
        <div class="ll-dataset mt-4">
          <div class="ll-dataset__label">
            Contact Number:
          </div>
          <div class="ll-dataset__value">{{ userInfo?.contactNumber }}</div>
        </div>
      </div>


      <div class="w-full sm:w-1/2 mt-4 sm:mt-0">
        <div class="ll-dataset">
          <div class="ll-dataset__label">
            Username:
          </div>
          <div class="ll-dataset__value">{{ userInfo?.username }}</div>
        </div>
        <div class="ll-dataset mt-4">
          <div class="ll-dataset__label">
            Business Role:
          </div>
          <div class="ll-dataset__value big-and-red-text">{{ userInfo?.role }}</div>
        </div>
        <div class="ll-dataset mt-4">
          <div class="ll-dataset__label">
            Status:
          </div>
          <div class="ll-dataset__value" [class.green-and-large-text]="userInfo?.status">
            {{ userInfo?.status ? 'actif' : userInfo?.status }}
          </div>
        </div>
        <div class="ll-dataset mt-4">
          <div class="ll-dataset__label">
            Address:
          </div>
          <div class="ll-dataset__value">{{ userInfo?.address }}</div>
        </div>
      </div>
    </div>
  </div>
  <!-- User Meta End -->
</div>

