._edit_icon {
  font-size: 16px;
  height: 16px;
  width: 16px;
  line-height: 16px;
}
/* CSS for green and larger text */
.green-and-large-text {
  color: green;
  font-size: 24px; /* Adjust the font size as needed */
}
/* CSS for big and red text */
.big-and-red-text {
  color: red;
  font-size: 24px; /* Adjust the font size as needed */
}
