.ll-feature {
  margin-top: 150px;
}
._title {
  padding: 40px;
  font-size: 2rem;
  &-wrap {
    margin-top: -100px;
  }
}
._feature {
  h2 {
    font-size: 1.1rem;
    line-height: 28px;
    letter-spacing: 0.3px;
  }
}

@media (min-width: 768px) {
  ._title {
    font-size: 2.5rem;
  }
  ._feature {
    h2 {
      font-size: 1.2rem;
    }
  }
}
.ll-feature {
  background: linear-gradient(to bottom, rgba(9, 69, 187, 0.94), rgba(10, 13, 17, 0.56)); /* Blue degradable gradient */
  color: white; /* White text color */
}

