.forgot-password__page {
  background: linear-gradient(to bottom, #c1c1da, #0b0bdc); /* Vertical gradient from light blue to dark blue */
  background-attachment: fixed; /* Keep the background fixed */
}

.text-white {
  color: #e7e9ef; /* White text color */
}

.rotating-logo {
  animation: rotateLogo 4s linear infinite; /* Adjust duration and other properties as needed */
  transform-origin: center;
}

@keyframes rotateLogo {
  0% {
    transform: perspective(1200px) rotateY(0deg);
  }
  100% {
    transform: perspective(1200px) rotateY(-360deg);
  }
}
