<div class="forgot-password__page">
  <div class="forgot-password__row min-h-screen">
    <div class="forgot-password__content p-4 sm:p-8 flex flex-col justify-center bg-accent" style="background: linear-gradient(to bottom, rgba(0, 0, 255, 0), rgba(0,0,255,0.02));">
      <a [routerLink]="['']" class="w-64 inline-block logo">
        <img src="assets/images/logo.png" alt="Lieblings" class="rotating-logo" />
      </a>
      <div class="forgot-password w-full max-w-xl rounded-md mx-auto border p-4 sm:p-8 xl:p-20">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForgotPasswordForm()">
          <h1 class="text-2xl font-bold text-white">Forgot Password</h1>
          <p class="text-white mt-4">Enter your email address to reset your password.</p>
          <div class="mb-4 mt-6">
            <label class="block text-white text-sm font-semibold mb-2" for="email">Email Address</label>
            <input
              formControlName="email"
              class="text-sm appearance-none rounded w-full py-2 px-3 text-gray-700 bg-gray-100 leading-tight focus:outline-none focus:shadow-outline h-10"
              id="email"
              type="text"
              placeholder="Your email address"
            />
            <div *ngIf="forgotPasswordForm.get('email').invalid && forgotPasswordForm.get('email').touched" class="text-red-500 mt-1">
              Invalid email
            </div>
          </div>
          <div class="flex w-full mt-6">
            <button
              type="submit"
              class="w-full bg-gray-800 hover:bg-grey-900 text-white text-sm py-2 px-4 font-semibold rounded focus:outline-none focus:shadow-outline h-10"
            >
              Reset Password
            </button>
          </div>
        </form>
        <div class="mt-4">
          <a [routerLink]="['/auth/login']" class="hover:underline hover:text-white">Back to login</a>
        </div>
      </div>
    </div>
  </div>
</div>
